
.mainDiv{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  
}

.Heading {
  background-image: linear-gradient(to right, #FFA384, #943bd4);
  font-weight: Bold;
  text-align: center;
  font-size: xx-large;
  color: #083233;
}

.Card_Body {
  color: black;
  padding-left: 1%;
  padding-top: 1%;
  margin-left: 240px;
  margin-right: 230px;
  text-align: left;
  font-size:large;
  font-weight: bold;
}

.Card_Text{
  font-weight: lighter;
}

.Read_More {
  color: blue;
  font-weight: lighter;
}

.Card_Image {
  text-align: center;
  width:1000px;
  height:650px;
  border: 3px ridge black;
  border-radius: 12px;
  margin-left: 250px;
}